body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  padding-top: 5vh;

}

span{
  color: var(--azul-principal);
  text-align: justify;
}

.section {
  /*min-height: 65vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

@media (min-width: 1200px) {
  .section {
    min-height: 50vh;
  }
}

#Apresentacao {
  background-color: white;
}

#Tecnologias {
  background-color: white;
}

#Sobre {
  background-color: white;
}

#Projetos {
  background-color: #ced4da;
}


.rodape{
  height: 3vh;
  background: var(--azul-principal);
}



